<!DOCTYPE html>
<html>
<head>
  <title>Toko Buah-Buahan</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <div class="flex justify-center items-center h-screen  bg-indigo-200">
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-8">Selamat Datang di Toko Buah-Buahan Kami</h1>
      <p class="text-lg">Kami menyediakan berbagai macam buah-buahan segar dan berkualitas.</p>
      <p class="text-lg">Silakan jelajahi pilihan buah kami dan temukan favorit Anda!</p>
      <div class="mt-8">
        <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4">Masuk</a>
        <a href="#" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Daftar</a>
      </div>
    </div>
  </div>
</body>
</html>
